<ul class="list-performance">
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_capcom.jpg'}}" alt="CAPCOM" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_naito.jpg'}}" alt="NAITO" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_otwo.jpg'}}" alt="O-TWO" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_itec.jpg'}}" alt="アイテック阪急阪神株式会社" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_magical.jpg'}}" alt="魔法株式会社" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_natsume.jpg'}}" alt="Natsume Atari" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_neuron.jpg'}}" alt="NEUON AGE" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_yukes.jpg'}}" alt="YUKES" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_platinum.jpg'}}" alt="PLATINUM GAMES" class="list-performance__item-img">
  </li>
  <li class="list-performance__item">
    <img src="{{path '/assets/img/logo_cm.jpg'}}" alt="株式会社クラフト&マイスター" class="list-performance__item-img">
  </li>
</ul>